# Node dependencies
node_modules/

# Yarn lockfile
yarn.lock

# Generated build files
.next/
out/

# Logs
logs
*.log
npm-debug.log*

# Env files
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Storybook build
storybook-static/

# Jest coverage
coverage/
